td {
  cursor: pointer;
  user-select: none;
}

.td-month-body {
  padding: 0;
  height: 30px;
  width: 14.3%;
}

.td-year-body {
  height: 70px;
  width: 25%;
}

.days {
  background-color: red;
}

.days-header {
  background-color: green;
}

.none-active-days {
  color: grey;
}

.active-item {
  background: white;
}