td {
  cursor: pointer;
  user-select: none;
}

.td_month_body {
  height: 35px;
  width: 14.3%;
}

.td_year_body {
  height: 35px;
  width: 25%;
}

.days {
  background-color: red;
}

.days-header {
  background-color: green;
}

.none-active-days {
  color: grey;
}