<div class="login_container">
  <form [formGroup]="registerForm"
  	(ngSubmit)="onSubmit($event)"
  	class="ui form">
    <div class="field">
      <label for="username">username</label>
      <input
  	 type="text"
  	 id="username"
  	 placeholder="username..."
  	 formControlName="username" />
    </div>
      
    <div class="field">
      <label for="email">email</label>
      <input
  	 type="email"
  	 id="email"
  	 placeholder="email..."
  	 formControlName="email" />
      <div
	 *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.touched"
	 class="ui red message"> Username is invalid </div>
    </div>
    <div class="field">
      <label for="password">password</label>
      <input
  	 type="password"
  	 id="pawwvord"
  	 placeholder="password..."
  	 formControlName="password" />
    </div>
    <div class="field">
      <label for="confirm-password">confirm password</label>
      <input
  	 type="password"
  	 id="confirm-password"
  	 placeholder="confirm..."
  	 formControlName="confirm-password" />
    </div>
    <div *ngIf="!registerForm.valid" class="ui red message">Form is invalid</div>
    <button type="submit" class="ui button"> Sign in </button>
  </form>
</div>
